{% extends "blog/base.html" %}
{% block content %}
    <div class="col s12 m11">
            
            <div class="card horizontal">
            <div class="" style="margin: 10px;">
                <img class="circle article-img" src="{{ post.author.profile.image.url }}" alt="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4 class="header"><a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></h4>
                    <h5><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
                    <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
                    <p class="article-content"><blockquote>{{ post.content }}</blockquote></p>
                </div>
                 {% if post.author == user %}
                <div class="card-action">
               
                    <div style="margin-top: 10px; margin-bottom: 10px;">
                        <a class="btn green darken-1 white-text " href="{% url 'post-update' post.id %}">Update</a>
                        <a class="btn red darken-4 btn-extra-small" href="{% url 'post-delete' post.id %}">Delete</a>
                    </div>
              
                </div>
                  {% endif %}
            </div>
        </div>
        </div>
    
{% endblock %}