{% extends "blog/base.html" %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% block content %}
    <div class="content-section">
        <form  method="POST">
            {% csrf_token %}
            <fieldset class="">
                <legend class="">Reset Password</legend>
                   {% form form=form %}{% endform %}
            </fieldset>
            <div class="">
                <button type="submit" class="btn btn-outline-info">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content%}